#root {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #4b4b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.form {
  background-color: beige;
  padding: 20px; /* Adiciona espaçamento interno */
  margin: 20px auto; /* Adiciona margem superior/inferior e centraliza o formulário */
  max-width: 400px; /* Define uma largura máxima */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.navBar {
  background-color: beige;
  border-radius: 5px;
}
